.filterForm {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* max-width: 204px; */
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--gray);
}

.input {
  background-color: var(--inputs);
  border-radius: 12px;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--main);
  outline: none;
  width: 100%;
  min-width: 196px;
}

.input::placeholder {
  line-height: 1.25;
  color: var(--main);
}

.select {
  appearance: none; /* Прибираємо стандартну стрілку браузера */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%22%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23121417%22%20d%3D%22M5%207l5%205%205-5H5z%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 18px top 50%;
  padding-right: 40px; /* Місце для стрілки */
  cursor: pointer;
}

.mileageGroup {
  display: flex;
  background-color: var(--inputs);
  border-right: 1px solid var(--gray-light);
  border-radius: 12px 0 0 12px;
  overflow: hidden;
  width: 320px;
}

.mileageInput {
  background: transparent;
  border: none;
  border-right: 1px solid var(--gray-light);
  border-radius: 12px 0 0 12px;
  width: 50%;
  padding-left: 24px;
}

.mileageInput:last-child {
  border-right: none;
  border-radius: 0 12px 12px 0;
}
.searchBtn {
  padding: 12px 56px;
  font-size: 14px;
  border-radius: 14px;
  /* width: 156px; */
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
  background-color: var(--button);
  cursor: pointer;
}
.searchBtn:hover {
  border: 1px solid var(--button-hover);
}
